

/* Theme Css */

ul{
  padding-left: 0;
}


@font-face {
  font-family: 'SkinnyJeans';
  src: url('../fonts/SkinnyJeans.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkinnyJeans.woff') format('woff'), url('../fonts/SkinnyJeans.ttf')  format('truetype'), url('../fonts/SkinnyJeans.svg#SkinnyJeans') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'PT Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/}

  /*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}


/*----------------- CSS FOR HEADER ------------------------
---------------------------------------------------------*/

header.site-header{
  padding: 30px 0;
}

header.site-header h1{
  font-family: 'SkinnyJeans';
  font-size: 60px;
  letter-spacing: 10px;
  margin: 0;
  text-align:center;

}
header.site-header a{
  color: #000;
  text-decoration: none;
}

header.site-header ul{
  margin-bottom: 0;
  text-align: center;
}

header.site-header ul.tags li{
  display: inline;
  font: semi-bold 12px 'Open Sans', sans-serif;
  list-style: none;
  letter-spacing: 3px;
  margin: 0 5px;
}

header.site-header li span{
  color: #b19a6f;
  font-size: 8px;
  margin-left: 10px;
}

header .nav-menu{
  padding-top: 32px;
}
.nav-menu a{
  float: right;
}

/*----------------- CSS FOR BANNER-SLIDES ------------------------
---------------------------------------------------------*/

.banner-slides{
  height: 500px;
  margin-bottom: 30px;
  position: relative;
 }

.banner-slides .image-wrap::after{
  background:rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
 }

.banner-slides .image-wrap {
  height: 100%;
  background-size: cover;
  background-position: center center;
 }

.banner-slides .banner-content-wrap{
  bottom: 0;
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}
 
.banner-slides .banner-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
 }
 .banner-slides .banner-content h2 a{
  border: 1px  #b19a6f solid;
  color: #b19a6f;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 32px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
 }

 .banner-slides .banner-content h2 a:hover{
  background-color: #b19a6f;
  color: #fefefe;
  text-decoration: none;
 }


/*----------------- CSS FOR CATEGORY ------------------------
---------------------------------------------------------*/

.blog-content-block article{
  margin-bottom: 50px;
}

.blg-welcome-info .category,
.blg-welcome-info .category figure{
  background-color: #000;
  overflow: hidden;
  position: relative;
}

 .blg-welcome-info .category img{
  height: auto;
  transition: opacity 0.2s ease;
  width: 100%;
 }

 .blg-welcome-info .category .image-caption{
  background: rgba(0, 0, 0, 0.6);
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: #fff;
  padding: 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
 }

 .blg-welcome-info .category figure:hover img{
  opacity: 0.8;
 }

  .blg-welcome-info .category figure:hover .image-caption{
     background: rgba(0, 0, 0, 1);
  }

/*----------------- CSS FOR BLOG-POST-LIST ------------------------
---------------------------------------------------------*/

.blog-post-list{
  margin-bottom: 40px;
}
 .post-title-wrap{
    padding: 45px 0;
    text-align: center;
  }

  .post-title-wrap .post-category a{
    border-bottom: 1px #b19a6f solid;
  }

  .post-title-wrap .post-category a,
  .post-info span{ 
    color: #b19a6f;
    
  }

.post-info span{
  border-bottom: 1px #e0e0e0 solid;
  font-style: italic;
  padding-bottom: 20px;
}

.post-title-wrap .post-title a{
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  }

.post-title-wrap .post-title{
  margin: 10px 0 20px 0;
}

.blog-content-block .post-thumbnail{
  margin-bottom: 35px;
}

.blog-content-block .post-thumbnail img{
  width: 100%;
} 

 /*----------------- CSS FOR BLOG-AUTHOR-INFO ------------------------
---------------------------------------------------------*/


.blog-detail-video .video-img{
  text-align: center;
}

.blog-detail-video img{
  height: auto;
  max-width: 100%;
}


/*----------------- CSS FOR SIDEBAR ------------------------
---------------------------------------------------------*/

aside.widget{
  margin-bottom: 35px;
}

.widget h3{
  background-color: #333;
  color: #fff;
  font-size: 13px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.widget.widget_my_profile_widget img{
  border-radius: 50%;
  margin: 0 auto;
}

.widget_my_profile_widget .profile-desc{
  margin-top: 35px;
}

.widget .widget-social-icon{
  padding-top: 30px;
  text-align: center;
}
.widget.widget_follow_me_widget li{
  display: inline;
  list-style: none;
  margin: 0 3px;
}

.widget.widget_follow_me_widget li a{
  background-color: #8e9da5;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 32px;
}

.widget.widget_follow_me_widget li a:hover{
  background-color: #728189;
}

/*----------------- CSS FOR FOOTER ------------------------
---------------------------------------------------------*/

.site-footer{
  background-color: #333;
  padding: 30px 0;
  text-align: center;
}

.site-footer a{
  color: #fff;

}

/*----------------- CSS FOR REGISTRATION ------------------------
---------------------------------------------------------*/
body{
  font-family: 'PT Sans', sans-serif;}


.register-wrap{
  background-color: #ddd;
}

.register-wrap .brand-logo{
  padding: 10px 0 30px 0;
  text-align: center;
}

.register-wrap .brand-logo h2{
  color: #b19a6f;
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}

.register-wrap .brand-logo p{
  color: #999;
  margin:0;
}

.register-wrap .form-registration{
  background-color: #fff;
  margin: 30px auto 0;
  padding: 20px;
  max-width: 400px;
}

.form-registration input{
  background-color: #F9F9F9;
  border-radius: 0;
  border-color: #ccc;

}

.form-registration input:focus{
  border-color: #b19a6f;
  box-shadow: none;
}

.form-registration input[type="submit"]{
  background-color: #b19a6f;
  border-color: #a18b62;
  color: #fff;
  padding: 8px 15px;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
}

.form-registration input[type="submit"]:hover{
  background-color: #a18b62;
}

.form-registration .form-group:last-child{
  margin-bottom: 0;
}

.register-wrap .error .alert{
  display: block;
  max-width: 400px;
  margin: 15px auto 0;
}

input[type=checkbox]{
  display: none;
  margin-top: 0;
  vertical-align: middle;
}

.register-wrap .form-registration label{
    margin-right: 10px;
    position:relative;
    padding-left:30px;
  }
 
  
  input[type="checkbox"] + label:after
  {
    position:absolute;
    content:"";
    width: 20px;
    height: 20px;
    border:1px solid #ddd;
    color:red;
    left:0px;
    background: whitesmoke;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
    transition:all 0.2s;
  }
  

  input[type="checkbox"] + label:before
  {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    content: "\e013";
    left: 3px;
    color: #fff;
    font-size: 13px;
    top: 1px;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.39, 0.61, 0.07, 1.74);
    -moz-transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.39, 0.61, 0.07, 1.74);
    -o-transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.39, 0.61, 0.07, 1.74);
    transition: opacity 0.2s linear, transform 0.4s cubic-bezier(0.39, 0.61, 0.07, 1.74);
  }
  

input[type="checkbox"]:checked + label:before
  {
   opacity:1;
    -webkit-transform:scale(1);
    z-index:99;
  }
  
input[type="checkbox"]:checked + label:after
  {
    background-color:#b19a6f;
    border: 1px solid #b19a6f;
  }
  
.policy-link {
  padding: 30px 0 20px 0;
  text-align: center;
}

.policy-link a{
  color: #999;
  font-weight: 600;
}

/*----------------- CSS FOR 404-PAGE ------------------------
---------------------------------------------------------*/

.error.error-page{
  padding: 50px 0 20% 0;
  text-align: center;
}

.error.error-page h2{
  font-size: 35px;
}

.error.error-page h2 span{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
}

.error.error-page h2 span.text-frst{
  background-color: #222;
  color: #fff;
}

.error.error-page h2 span.text-sec{
  background-color: #ddd;
}

.error.error-page h2 span.text-thrd{
  background-color: #000;
  color: #fff;
}

.error.error-page h2{
  border-bottom: 1px #ddd solid;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/*----------------- CSS FOR COMMENT-SECTION ------------------------
------------------------------------------------------------------*/

.comments-area{
  margin-bottom: 30px;
}

.comments-area ul li{
  list-style: none;
}

.comments-area ul li ul.children{
  margin-left: 40px;
}

.comments-area .comment-body{
  margin-left: 100px;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.comments-area .comment {
    position: relative;
    list-style: none;
}

.comments-area .comment-meta {
    margin-bottom: 15px;}

.comments-area h3.comments-title{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.comments-area .comment-list{
  border-top: 1px #eee solid;
  padding:40px 0;
}

.comment-author img{
  border-radius: 50%;
}

.comments-area .comment-author .avatar {
    left: -100px;
    position: absolute;
    top: 0px;
    border: 1px solid #e4e4e4;
}

.comments-area .comment-author a{
  color: #000;
  font-size: 16px;
  font-style: italic;
}

.comments-area .comment-metadata a{
  color: #606060;
  font-size: 13px;
}

.comments-area .comment-content{
  overflow: hidden;
}

.comments-area .comment-body .reply {
    background-color: #eee;
    display: inline-block;
  padding: 4px 12px;
  margin-top: 10px;
  text-transform: uppercase;
}

.comments-area .reply a{
  color: #000;
  font-size: 13px;
}

.comments-area .reply:hover a:hover{
  text-decoration: none;
}

.comments-area a.post-comment:hover,
.comment-form .form-submit input:hover{
  background-color: #DDD;
}

.comments-area .reply a:hover{
  color: #666666;
}

.comments-area a.post-comment,
.comment-form .form-submit input{
  background-color: #eee;
  border: none;
  border-radius: 0;
  color: #000;
  font-style: 13px;
  padding: 10px 15px;
  margin-top: 20px;
}

/*----------------- CSS FOR COMMENT-REPLY ------------------------
---------------------------------------------------------*/

#respond .comment-reply-title{
  margin-bottom: 20px;
}

#respond .comment-reply-title small a{
  color: #999;
  text-decoration: underline;
}

#respond h3.comment-reply-title small a:hover{
  color: #23527c;
}
 p.comment-form-comment textarea{
    height: 150px;
}

.content-area .please-login a{
  color: #999;
}

.user-not-logged-in .reply{
  display: none !important;
}

/*----------------- MEDIA-QUERIES ------------------------
---------------------------------------------------------*/

@media (max-width: 767px) {

  .nav-menu{
    text-align: center;
  }
  
  .button-nav-toggle{
    float: none;
  }

  .blg-welcome-info .category{
    margin-bottom: 15px;
  }

  .banner-slides .banner-content h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  header.site-header h1{
    font-size: 40px;
    margin-bottom: 10px;
  }

  .banner-slides .banner-content h2 {
    font-size: 12px;
  }

  .register-wrap .form-registration,
  .register-wrap .error .alert{
    width: 100%;
  }
}


/*wp shar desging*/

.like-it{
  display: block;
    margin: 20px 0;
}

.wpallshare li{
  display: inline-block;
    text-align: left;
}

.wpallshare{
  text-align: center;
} 

.wpallshare li > a{
  width: 90px;
}

.wpallshare-theme1 a span.sharetitle{
  display: none;
}

.wpallshare a:before{
  float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.wpallshare-theme1 a span.count{
  border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 0px;
    padding-left: 0px; 
    display: block;
    text-align: center;
    overflow: hidden;
}

/*end of wp shar desging*/


.wishlst-count .wish-list span{
  color: #ff6c7e;
  display: block;
  font-size: 40px;
    position: relative;
    text-align: center;
    
}

.wishlst-count .wish-list em{
  font-size: 15px;
    font-style: normal;
    position: absolute;
    bottom: 0;
    top: 0;
    margin-left: -24px;
    margin-top: 10px;
}
