

/* Theme Css */



@font-face {
  font-family: 'SkinnyJeans';
  src: url('../fonts/SkinnyJeans.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkinnyJeans.woff') format('woff'), url('../fonts/SkinnyJeans.ttf')  format('truetype'), url('../fonts/SkinnyJeans.svg#SkinnyJeans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body{
  color: #454545;
 font-family: 'Lato', sans-serif;
}

ul,
ol {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

ul{
  padding-left: 0;
}

a{
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}


/*----------------- CSS FOR LANDING PAGE ---------------
------------------------------------------------------*/

.site-header .site-branding h1{
  display: inline-block;
  float: left;
  margin:5px 0;
}

.site-header{
  box-shadow: 0 4px 2px -2px gray;
}
/*------ Menu -------*/
 

.main-navigation {
 position: relative;
 text-align: center;
}

.main-navigation li {
  list-style: none;
  position: relative;
}

.main-navigation li a{
  color: #000;
  display: inline-block;
  padding: 2em 0.75em;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a{
  color: #000;
  font-weight: 400;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
    color: #b19a6f;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

ul#menu-primary-menu {
    width: 100%;
    text-align: center;
    float: none;
    z-index: 99999;
}
.nav-wrap{
  position: relative;
}

.main-navigation li {
    float: none;
    list-style: none;
    position: relative;
    display: inline-block; 
}

.site-header .navbar{
  margin-bottom: 0;
}


.site-header .blogger-btn a,
main a.site-btn,
input.site-btn{
    background-color: #b19a6f;
    border: 1px #a18a5b solid;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0.7px;
    padding: 13px 20px;
    text-transform: uppercase;
    
}

.site-header .blogger-btn a:hover{
  color: #222;
}

.site-header .blogger-btn a:hover,
main a.site-btn:hover,
#contact .contact-form input.site-btn:hover{
  background-color: transparent;
  text-decoration: none;
}


/*----------------- CSS FOR FULLWID-BANNER ---------------
---------------------------------------------------------*/

main #fullwid-banner{
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 10% 0;
    overflow: hidden;
}

main #fullwid-banner:after,
#image-section:after{
    background: rgba(0, 0, 0, 0.6);
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#fullwid-banner .banner-content{
    color: #fff;
    position: relative;
    z-index: 99;
}

.banner-content .banner-text-wrap{
  margin-bottom: 20px;
}

.banner-text-wrap h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}  

.banner-text-wrap p{
    font-size: 18px;
    font-family: 'latomedium, sans-serif'
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
  }  

/*--------------------FEATURES ------------------------
----------------------------------------------------*/

#features{
  padding: 95px 0;
}

.section-title-wrap{
  margin-bottom: 40px;
  text-align: center;
}

section h2{
  font-size: 38px;
  font-weight: 700;
  display: block;
  margin: 0 0 15px 0
}

section p.sub-title{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

#features .section-title-wrap h2{
  color: #454545;
}

.section-title-wrap .seperator,
.section-title-wrap p{
  margin-bottom: 15px;
}

.section-title-wrap .seperator .fa{
   color: #b19a6f;
   font-size: 12px;
   padding: 0 5px;
}

.section-title-wrap p{
  max-width: 58%;
  margin: 0 auto;
}

.section-title-wrap .seperator::before,
.section-title-wrap .seperator::after {
    background-color: #b19a6f;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 60px;
    height: 1px;
    margin-top: -6px;
}

#features .feature-item{  
    text-align: center;
}

.feature-item .icon-box .icon{
    background-color: #b19a6f;
    color: #fff;
    display: inline-block;
    font-size: 35px;
    line-height: 35px;
    padding: 18px 22px;
    text-align: center;  
    -webkit-border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

.feature-item .icon-box{
  margin-bottom: 30px;
}

.feature-item  h3{
  font-size: 20px;
  font-weight: 700;
}

/*----------------- CSS FOR CALL-TO-ACTION-----------------------
---------------------------------------------------------*/

 section.module.parallax {
  height: 300px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
}

section.module.parallax-2 {
  background-image: url("http://bogdanpreda.com/themes/tf-besmart/v6/images/bg3.jpg");
}

.image-section-inside{
  color: #fff;
  text-align: center;
  position: relative;
  padding: 100px 0;
  z-index: 99;
}

.image-section-inside p{
  font-size: 17px;
}

.image-section-inside .site-btn{
  background-color: #34b1c4;
  border: 1px #34b1c4 solid;
}
/*----------------- CSS FOR CONTACT------------------------
---------------------------------------------------------*/

#contact{
  background-color: #393f43;
  color: #ddd;
  padding: 90px 0;
}


#contact .section-title-wrap .seperator::before, 
#contact .section-title-wrap .seperator::after{
  background-color:#dfdfdf; 
}

#contact .section-title-wrap .seperator .fa{
  color: #dfdfdf;
}

#contact .section-title-wrap p{
  color: #b8bdbc;
  width: 50%;
}

#contact .contact-form input,
#contact .contact-form textarea{
  background-color: transparent;
  border: 1px #656768 solid;
  border-radius: 4px;
  color: #fff !important;
}

#contact .contact-form input{
  height: 42px;
  
}
    

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #fff;
}


#contact .contact-form input:focus,
#contact .contact-form textarea:focus{
  border-color: #b19a6f;
  box-shadow: none;
}

#contact .contact-form p{
  margin-bottom: 0;
}

#contact .contact-form input.site-btn{ 
  background-color: #34b1c4;
  border: 1px #34b1c4 solid;
  border-radius: 4px;
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  -ms-transition:all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 150px;}


/*----------------- CSS FOR FOOTER-----------------------
---------------------------------------------------------*/

footer.site-footer{
  background-color: #2f3539;
  color: #b8bdbc;
  padding: 30px 0;
  text-align: center;
}

footer.site-footer h1{
  margin: 0;
}

footer.site-footer p{
  margin: 15px 0;
}
.social-links li{
    display:inline;
    margin-right: 10px;
}

.social-links li a {
    color:#8d8d8d;
    height:30px;
    width:30px;
    display:inline-block;
    border:1px #8d8d8d solid;
    border-radius:50%;
    text-align:center;
    line-height:30px;
}

.social-links li a:hover{
     background-color: #b19a6f;
     border:1px #b19a6f solid; 
     color: #fff;
}

.navbar-default .navbar-toggle{
    background-color: #646465;
    border: none;
    border-radius: 0;
    padding:10px;
    margin-top: 0;
    margin-right:0;
    margin-left: 15px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #646465;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fefefe;
}

.site-title{
    margin-top: 20px;
}

.blogger-btn {
    margin: 15px 0;
}

/*----------------- MEDIA-QUERIES ------------------------
---------------------------------------------------------*/
@media (max-width: 991px) {

#menu{
    display: none;
    border-top: 2px solid #b19a6f;
    position: absolute;
    top: 100%;
    background: rgb(255, 255, 255);
  }

  
.site-title{
    margin-top: 0;
  }

.navbar-toggle {
    display: block;
  }

.main-navigation li{
    display: block;
  }

.main-navigation li a {
    padding: 8.5px 0.75em;
    display: block;
    text-align: left;
  }
.blogger-btn {
    margin-top: 0;
}

.site-header .blogger-btn a, main a.site-btn, input.site-btn {
    padding: 8px 12px;
}
 
.nav-wrap {
    position: relative;
    padding: 20px 0 0px;
} 

.section-title-wrap p,
#contact .section-title-wrap p{
    width: 100%;
}
}

@media (max-width: 767px) {



}

@media (max-width: 379px) {
   .site-header .blogger-btn a {
    padding: 8px; 
}

@media (max-width: 360px) {

.navbar-default .navbar-toggle{
    padding: 8px;
    margin-left: 20px;
}

  .site-header .blogger-btn a {
    font-size: 9px;
    padding: 8px 4px;     
}
}

