
.button-nav-toggle {
  font-size: 1.5em;
  float: right;
  border: 0;
  background: 0 0;
  color: #000;
  outline: 0;
  cursor: pointer
}

.nav-main {
  transition: right .25s ease-in-out;
  background: #f1f2f3;
  position: fixed;
  overflow-x: hidden;
  width: 280px;
  right: -280px;
  top: 0;
  bottom: 0
}

.nav-main .nav-container {
  transition: left .25s ease-in-out;
  position: relative;
  left: 0
}

.nav-main .nav-container.show-sub { left: -280px }

.nav-main .nav-container ul {
  margin: 0;
  padding: 0 20px
}

.nav-main .nav-container ul li {
  list-style: none;
  border-bottom: 1px solid #d5d7da
}

.nav-main .nav-container ul li a {
  text-decoration: none;
  display: block;
  padding: 20px 0;
  color: #4d5152;
  font-size: 16px
}

.nav-main .nav-container ul li a:hover { color: #4d5152 }

.nav-main .nav-container ul li ul {
    position: absolute;
    right: 0;
    top: 55px;
}

.nav-main .nav-container ul li ul li { border: 0 }

.nav-main .nav-container ul li ul li.nav-label {
  border-top: 1px solid #d5d7da;
  padding: 25px 0 10px
}

.nav-main .nav-container ul li ul li a {
  padding: 7px 0 15px;
  font-size: 14px
}

.nav-main .nav-container ul li ul li a.back {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 25px;
  background: url(img/arrow-left.png) left center no-repeat
}

.nav-main .nav-container ul li.has-sub-nav a { background: url(img/arrow-right.png) right center no-repeat }

.nav-main .nav-container ul li.has-sub-nav ul a { background: 0 0 }

.nav-main .nav-container ul li.active ul { display: block }

.open .nav-main { right: 0 }

*,
:after,
:before { box-sizing: border-box }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  line-height: 1.6em;
  color: #222;
  margin: 0
}

.page-wrapper {
  /*max-width: 1040px;*/
  margin: 0 auto
}

.header-main {
  overflow: hidden;
  padding: 20px 0
}

.section-stage {
  background: #202020;
  width: 100%;
  height: 500px
}

.site{
  transition: right .25s ease-in-out;
  position: relative;
  right: 0
}

.site.open { right: 280px }
